<nav class="bg-blue-600 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl font-bold">YelpCamp</a>
        <ul class="flex space-x-6">
            <li><a href="/campgrounds/new" class="text-white hover:text-gray-200">New Campground</a></li>
            <li><a href="/campgrounds" class="text-white hover:text-gray-200">Home</a></li>
        </ul>
    </div>
</nav>